<configuration>

  <conversionRule conversionWord="coloredLevel"
                  converterClass="play.api.libs.logback.ColoredLevel"/>

  <!-- Will append log message to the standard out -->

  <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>
          %coloredLevel %logger{15} - %message%n%xException{25}
        </pattern>
      </encoder>
    </appender>
  </appender>

  <logger name="net.scalytica" level="OFF" />

  <!-- Root loggers catch all other events that are not explicitly handled-->
  <root level="OFF">
    <appender-ref ref="ASYNC_STDOUT"/>
  </root>

</configuration>
