<configuration>

    <!-- Will append log message to the standard out -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %level %logger{15} - %message%n%xException{5}
            </pattern>
        </encoder>
    </appender>

    <logger name="net.scalytica.clammyscan" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Root loggers catch all other events that are not explicitly handled-->
    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
